<!DOCTYPE html>
<html lang="en">

    <body>
    <header>
        
    </header>
            <main>
                <h1>ERROR!!</h1>
                <details>
                    <summary>You are facing an error, click here for more details</summary>
                    <p>
                             Error Message: <%= err %>
                    </p>
                </details>
            </main>
<div class="wrapper">

  

    <div class="push"></div>
  </div>
  <footer class="footer"></footer>
    </body>

</html>