
  #buttons{
    display: flex;
    justify-content: space-around;
  }
  
  .description{
      max-height: 150px;
      overflow-y: scroll;
      margin: 15px auto;
  }
  .hidden{
      display: none;
  }
  
  fieldset{
    width: 80%;
    margin: auto;
    padding: 30px;
  }
  

  header h3{
    float: left;
    margin-left: 30px;
    line-height: 60px;
    font-size: 25px;
  }
  
  .fa{
    color: white;
    font-size: 30px;
    line-height: 60px;
    float: right;
    margin-right: 25px;
  }
  
  
  .header{
    display: block;
    font-size: 20px;
    line-height: 40px;
    background-color: black;
    margin-bottom: 30px;
  }
